.jumbotron{

}

.jumbotron {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;
    text-align: center;
    background: none;

}
.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    @include border-radius(0);
}

.sectionLight{
    background-color:floralwhite;
    padding: 2rem;
}

.sectionDark{
    background-color: antiquewhite;
    padding: 2rem;
}

.stuffbtn{
    background-color: brown;
    margin-top: 20px;
    display: block;
    margin: auto;
}

h1.modal-title{
    display: block;
    margin: auto;
}

.modalFormWrapper{
    padding: 2rem;
}

.imgCentre{
    display: block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}